<% provide(:title, @user.name) %>
<div>
  <table class="table table-bordered table-condensed user-table">
    <tr>
      <th>name</th>
      <td><%= @user.name %></td>
    </tr>
    <tr>
      <th>department</th>
      <td><%= @user.department  %></td>
    </tr>  
    <tr>
      <th>unconfirmed</th>
      <td></td>
    </tr> 
  </table>
  <%= link_to "利用者一覧", care_users_path, class: "btn btn-md btn-primary" %>
  <% if current_user.admin?%>
    <%= link_to  "新利用者作成", new_care_user_path, class: "btn btn-md btn-primary" %>
  <% end %>  
</div>