<% provide(:title, "Home") %>
<div class="top_title">
  
  <div class="top_btn">
  <%= link_to "Login", "#", class: "btn btn-md btn-primary" %>
  <%= link_to  "アカウント作成", "#", class: "btn btn-md btn-primary" %>
  </div>
</div>
