<% provide(:title, "Home") %>
<div class="top_title">
  <h1>CARE INFORMATION</h1>
  <div class="top_btn">
  <p>
  <%= link_to "Login", "#", class: "btn btn-md btn-primary" %>
  <%= link_to  "アカウント作成", "#", class: "btn btn-md btn-primary" %>
  </P>
  </div>
</div>
