<% provide(:title, "Home") %>
<body id="home">
  <div class="top_title">
    
    <div class="top_btn">
    <%= link_to "Login", login_path, class: "btn btn-md btn-primary" %>
    <%= link_to  "アカウント作成", signup_path, class: "btn btn-md btn-primary" %>
    </div>
  </div>
</body>
、