<% provide(:title, "Home") %>
<body id="home">
  <div class="top_title">
    <% unless logged_in? %>
      <div class="top_btn">
        <%= link_to "Login", login_path, class: "btn btn-md btn-primary" %>
        <%= link_to  "Account creation", signup_path, class: "btn btn-md btn-primary" %>
      </div>
    <% end %>
  </div>
</body>