<h1>What's Care Information ?</h1>
  <div class="card-group">
    <div class="row no-padding card-wrapper">
            <div class="col-md-6 card-container">
                <div class="card text-center">
                    <%= image_tag "o05000345shutterstock_152114741.jpg", class: "card-img-top" %>
                    <div class="card-body">
                        <h4>いつでも・どこでもパッと確認</h4>
                        <p>Care Informationなら、お使いの端末から事業所の利用者を検索できるので、任意のタイミングで、都度、利用者の情報を確認することが可能です。</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 card-container">
                <div class="card text-center">
                    <%= image_tag "eigoappli.jpg", class: "card-img-top" %>
                    <div class="card-body">
                        <h4>見たい利用者を瞬時に検索</h4>
                        <p>Care Informationは完全電子化の利用者情報です。従来までの、紙を何枚もめくって確認したい利用者を探す手間は無くなります。また、事業所毎にも検索できるので、現在の所属利用者を瞬時に把握することが可能です。</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row no-padding card-wrapper">
            <div class="col-md-6 card-container">
                <div class="card text-center">
                    <%= image_tag "599e39b28ecd6bd35f0f3853d8ae2a28_t.jpeg", class: "card-img-top" %>
                    <div class="card-body">
                        <h4>LINE通知で新規情報も見逃さない</h4>
                        <p>Care Informationは、新規利用者が追加されたタイミングで、連携しているLINEアカウントに児童通知がされますので、新規利用者の情報を見逃すことは無くなります。</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 card-container">
                <div class="card text-center">
                    <%= image_tag "unnamed.jpg", class: "card-img-top" %>
                    <div class="card-body">
                        <h4>細かな更新も見逃さない</h4>
                        <p>Care Informationは、一度確認した利用者でも更新がされた場合、再度確認を行って頂けるように通知が表示されるので、常に最新の情報を把握することがあ可能です。</p>
                    </div>
                </div>
            </div>
        </div>
    </div> 