// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import "custom.scss";


/* トップページボタン */



.top_btn {
  margin-top: 50px;
  text-align: center;

}

img {
  -webkit-backface-visibility: hidden;
}
/* トップページ配置 */

#home{
 
  width:100%;
  height:400px;            
  background-image:url(312.jpeg);
  background-repeat:  no-repeat;           
  background-size: cover;
      
}

  

