// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "custom.scss";
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');



/* ユーザー情報テーブル */

.user-table {
  vertical-align: middle;
  text-align: center;
}

/* 入力フォーム */

.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}

.label-user--edit {
  margin-top: 5px;
}

.btn-user--edit {
  margin-top: 10px;
}


/* ユーザー一覧ページ */

#table-users {
  td {
    vertical-align: middle;
  }  
}


/* ユーザーメインページ */

.red {
  color: red;
}



.user_new {
 
  width: 100%;
 display: flex;

}

.qr_one {
  width: 350px;
  margin-right:30px ;
}

.qr_two {
  margin-top:30px ;
  width: 100px;
  white-space: nowrap;
  font-size: 15px;
  font-family: 'Ubuntu Mono', monospace;

   

}
