// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "custom.scss";


/* ユーザー情報テーブル */

.user-table {
  vertical-align: middle;
  text-align: center;
  margin-top: 5%;
}



/* ユーザー登録フォーム */

.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}